* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #005bc5;
  height: 100%;
}
.container {
  width: 80%;
  margin: 2rem auto;
}
.hero-title {
  text-align: center;
}
.hero-title h1 {
  font-size: 34px;
  font-weight: 800;
}
.hero-title p {
  font-size: 24px;
}
.mood-tracker {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  background-color: #fff;
  color: #080808;
  text-align: center;
  margin: 2rem auto;
  width: 60%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.moods-option {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.moods-option button {
  font-size: 40px;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
}
.moods-option button.selected {
  border: 2px solid #4caf50;
}
#saveBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.5rem;
  display: inline-flex;
}
#calendar {
  /* width: 90%; */
  /* max-width: 600px; */
  margin: 20px auto;
}
